<div>
	<div class="title-content">
		<label>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quis laboriosam ullam! Nesciunt unde assumenda molestiae quisquam voluptatibus eum natus voluptatem voluptatum placeat error fugiat, sint cum corporis. Iste, fugiat.

		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo fugit nam, eaque impedit nostrum inventore voluptates rerum praesentium. Ea pariatur facilis porro, molestias tempora nemo. Molestias magni, ipsa reiciendis accusamus.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet sequi nobis praesentium delectus suscipit saepe, recusandae perferendis voluptatibus. Soluta sapiente dolore, temporibus aliquid ducimus quia in ratione nisi autem eligendi.

	</label>
	</div>
</div>
<div class="bar bar-footer bar-positive">
  	<!-- <div class="list list-inset">
	  <label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="text" placeholder="Search">
	  </label>
	</div> -->
</div>